
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>
    @ActionLink("Authors", "Index", "Author")
    <p>@Html.ActionLink("Books", "Index", "Home")</p>
    @Html.ActionLink("Genres", "Index", "Genre")
    @Html.
</div>
<div>
    @RenderBody()
</div>
</body>
</html>
