@model IEnumerable<LogicLayer.PresentationModel.PBook>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBooks</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="m-0 p-0">
    <div class="container-fluid w-75 mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card col-4 mb-2">
                    <div class="card-title">
                        <h4>@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.AuthorName))</h4>
                        <p>Дата издания: @item.PublicationDate.ToString("dd/MM/yyyy")</p>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            }
        </div>
        @Html.ActionLink("Вернуться назад", "Index", null, new {@class = "btn btn-primary"})
    </div>
</body>
</html>
